/* GENERAL SETTING */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}
main{
    padding-top: 100px;
}

/* HEADER */

header {
    background-color: #333;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.Navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.Navbar li {
    margin: 0 150px;
}

.Navbar a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    background-color: #444;
    border-radius: 5px;
    font-size: 16px;
    justify-content: space-between;
}

.Navbar a:hover {
    background-color: #555;
}


/* FOOTER */




/* INDEX */

.accueil{
    background-image: url(../medias/index_back.jpg);
    background-size: 100%;
    background-attachment: fixed;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    background-color: rgba(128, 128, 128, 0.7); /* Gris avec opacité */
    border-radius: 8px; /* Bord arrondi pour les formulaires */
    padding: 1rem;
    width: 800px; /* Largeur fixe pour les formulaires */
    margin: 15px;
}

form label {
    display: block;
    margin-bottom: 0.5rem;
}

form select, 
form input[type="submit"] {
    width: 50%; /* Largeur complète pour les éléments de formulaire */
    margin-bottom: 2rem; /* Espacement entre les éléments */
}

form input[type="submit"] {
    background-color: #333; /* Couleur de fond pour le bouton */
    color: white; /* Couleur du texte du bouton */
    border: none; /* Enlever la bordure du bouton */
    padding: 0.5rem; /* Espacement interne du bouton */
    cursor: pointer; /* Changer le curseur au survol */
}

form input[type="submit"]:hover {
    background-color: #555; /* Changer la couleur au survol */
}

/* Style des cartes */
/* CSS pour les cartes */
.card-button {
    width: 100px; /* Largeur de la carte */
    height: 150px; /* Hauteur de la carte */
    background: none; /* Supprimer le fond du bouton */
    border: none; /* Supprimer la bordure du bouton */
    padding: 0; /* Supprimer le padding du bouton */
    display: inline-block; /* Assure que les boutons se comportent correctement */
    overflow: hidden; /* Empêche le débordement de l'image */
    position: relative; /* Positionnement relatif pour un positionnement des images */
}

.card-button img {
    width: 100%; /* Ajuste la largeur de l'image à la largeur du bouton */
    height: 100%; /* Ajuste la hauteur de l'image à la hauteur du bouton */
    object-fit: cover; /* Ajuste l'image pour couvrir le bouton sans déformation */
    
}

img{
    width: 150px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    transform: rotateY(180deg);
    transition: transform 0.6s;
    overflow: hidden;
    border: none;
    background: none;
    padding: 0;
    display: inline-block;
    position: relative;
}

h2{
    color: white;
    margin-left: 30px;
}
h3{
    color: black;
    margin-left: 30px;
}

.ind1{
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
}
.ind2{
    display: flex;
    justify-content: center;
    text-align: center;
}
.ind3{
    display: flex;
    justify-content: center;
    text-align: center;
}

p{
    color: white;
}



/* CLASSEMENT.PHP */

.classement{
    background-image: url(../medias/classement_back.jpg);
    background-size: 100%;
    background-position-y: -100px;
    background-attachment: fixed;
}

table {
    background-color: rgba(54, 221, 250, 0.5);
    margin-top: 40px;
    margin-left: 80px;
    padding: 8px;
    border-radius: 20px;
    width: 400px;
}


/* PROFIL */

.profil{
    background-image: url(../medias/connect_back.webp);
    background-size: 100%;
    background-attachment: fixed;
}
.form-container {
    display: none;
}
.form-container.active {
    display: block;
}

.prof1{
    width: 170px;
}

#co{
    background-color: #333; /* Couleur de fond pour le bouton */
    color: white; /* Couleur du texte du bouton */
    border: none; /* Enlever la bordure du bouton */
    padding: 0.5rem; /* Espacement interne du bouton */
    cursor: pointer;
}
#co:hover{
    background-color: #555;
}
#regis{
    background-color: #333; /* Couleur de fond pour le bouton */
    color: white; /* Couleur du texte du bouton */
    border: none; /* Enlever la bordure du bouton */
    padding: 0.5rem; /* Espacement interne du bouton */
    cursor: pointer;
}
#regis:hover{
    background-color: #555;
}

.prof2{
    width: 200px;
    color: white;
}
.prof2 input{
    height: 35px;
    width: 180px;
}

#p2co{
    background-color: #333; /* Couleur de fond pour le bouton */
    color: white; /* Couleur du texte du bouton */
    border: none; /* Enlever la bordure du bouton */
    padding: 0.5rem; /* Espacement interne du bouton */
    cursor: pointer;
    margin-left: 50px;
}
#p2co:hover{
    background-color: #555;
}

.prof3{
    width: 200px;
    color: white;
}
.prof3 input{
    height: 35px;
    width: 180px;
}

#p3regis{
    background-color: #333; /* Couleur de fond pour le bouton */
    color: white; /* Couleur du texte du bouton */
    border: none; /* Enlever la bordure du bouton */
    padding: 0.5rem; /* Espacement interne du bouton */
    cursor: pointer;
    margin-left: 60px;
}
#p3regis:hover{
    background-color: #555;
}

.prof4{
    width: 200px;
    color: white;
}
.prof4 input{
    height: 35px;
    width: 180px;
}

#p4up{
    background-color: #333; /* Couleur de fond pour le bouton */
    color: white; /* Couleur du texte du bouton */
    border: none; /* Enlever la bordure du bouton */
    padding: 0.5rem; /* Espacement interne du bouton */
    cursor: pointer;
    margin-left: 50px;
}
#p4up:hover{
    background-color: #555;
}

.prof5{
    width: 200px;
    color: white;
}
.prof5 input{
    height: 35px;
    width: 180px;
}

#p5deco{
    background-color: #333; /* Couleur de fond pour le bouton */
    color: white; /* Couleur du texte du bouton */
    border: none; /* Enlever la bordure du bouton */
    padding: 0.5rem; /* Espacement interne du bouton */
    cursor: pointer;
    margin-left: 40px;
}
#p5deco:hover{
    background-color: #555;
}

.prof6{
    width: 200px;
    color: white;
}
.prof6 input{
    height: 35px;
    width: 180px;
}

#p6suppr{
    background-color: #333; /* Couleur de fond pour le bouton */
    color: white; /* Couleur du texte du bouton */
    border: none; /* Enlever la bordure du bouton */
    padding: 0.5rem; /* Espacement interne du bouton */
    cursor: pointer;
    margin-left: 20px;
}
#p6suppr:hover{
    background-color: #555;
}

.prof7{
    width: 200px;
    color: white;
}
.prof7 input{
    height: 35px;
    width: 180px;
}

#p7yes{
    background-color: #333; /* Couleur de fond pour le bouton */
    color: white; /* Couleur du texte du bouton */
    border: none; /* Enlever la bordure du bouton */
    padding: 0.5rem; /* Espacement interne du bouton */
    cursor: pointer;
    margin-left: 60px;
}
#p7yes:hover{
    background-color: #555;
}

#p7no{
    background-color: #333; /* Couleur de fond pour le bouton */
    color: white; /* Couleur du texte du bouton */
    border: none; /* Enlever la bordure du bouton */
    padding: 0.5rem; /* Espacement interne du bouton */
    cursor: pointer;
}
#p7no:hover{
    background-color: #555;
}
