/* GENERAL SETTING */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: white;
}
main{
    padding-top: 100px;
}

/* HEADER */

header {
    background-color: #333;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.Navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.Navbar li {
    margin: 0 150px;
}

.Navbar a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    background-color: #444;
    border-radius: 5px;
    font-size: 16px;
    justify-content: space-between;
}

.Navbar a:hover {
    background-color: #555;
}


/* FOOTER */


/* PROFIL (!!! ATTENTION A NOMMER LES CLASSES DIFFEREMENT DE PROFIL) */
.form-container {
    display: none;
}
.form-container.active {
    display: block;
}

/* INDEX */

/* Style des cartes */
/* CSS pour les cartes */
.card-button {
    width: 100px; /* Largeur de la carte */
    height: 150px; /* Hauteur de la carte */
    background: none; /* Supprimer le fond du bouton */
    border: none; /* Supprimer la bordure du bouton */
    padding: 0; /* Supprimer le padding du bouton */
    display: inline-block; /* Assure que les boutons se comportent correctement */
    overflow: hidden; /* Empêche le débordement de l'image */
    position: relative; /* Positionnement relatif pour un positionnement des images */
}

.card-button img {
    width: 100%; /* Ajuste la largeur de l'image à la largeur du bouton */
    height: 100%; /* Ajuste la hauteur de l'image à la hauteur du bouton */
    object-fit: cover; /* Ajuste l'image pour couvrir le bouton sans déformation */
}




img{
    width: 150px;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
}